body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container, .convertidor-container, .auth-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

h2 {
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field, .select-field {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 92%;
}

.select-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrow {
  font-size: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.resultado {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  color: #007bff;
}

p {
  font-size: 14px;
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
